<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="window">
          <div class="title">
            <button class="button">
              <img src = "/assets/images/icons/question_icon.png" alt="?" class="img">
            </button>
            <button class="button">
              <img src = "/assets/images/icons/close_icon.png" alt="X" class="img">
            </button>
            {{ page.windowTitle }}
          </div>
          <div class="content">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
