<div class="staff">
  <div class="staff-wrapper">
    <div class="staff-photo">
      <div class="staff-img">
        {% if page.photo %}
        <img class="staff-image" src="/assets/images/staff/{{page.photo}}" alt="{{page.name}} photo">
        {% endif %}
      </div>
      <div class="throwback-img">
        {% if page.throwback_photo %}
        <img class="staff-image" src="/assets/images/staff/{{page.throwback_photo}}" alt="{{page.name}} photo">
        {% endif %}
      </div>
    </div>
    <div class="staff-info">
      <h3 class="staff-name">
        {{ page.name }}
      </h3>
      {% if page.pronouns %}
      <p class="staff-pronouns">Pronouns: {{ page.pronouns }}</p>
      {% endif %}

      {% if page.hometown %}
      <p class="staff-pronouns">Hometown: {{ page.hometown }}</p>
      {% endif %}

      <!-- {% if page.email %}
      <p class="staff-email">Email: {{ page.email }}</p> -->
      {% endif %}
      <p class="staff-bio">{{ page.bio }}</p>
    </div>
  </div>
</div>
